<!-- Services Section -->
    <style type="text/css">
    hr.star-light {
        border-color: #000;
    }
    hr.star-light, hr.star-primary {
        margin: 25px auto 30px;
        padding: 0;
        max-width: 250px;
        border: 0;
        border-top: solid 5px;
        text-align: center;
    }
    hr.star-light:after {
        color: #000;
        background-color: #fff;
    }
    hr.star-light:after, hr.star-primary:after {
        content: "\f005";
        display: inline-block;
        position: relative;
        top: -.8em;
        padding: 0 .25em;
        font-family: FontAwesome;
        font-size: 2em;
    }
    </style>
    <section id="about">
        <div class="container">
            <div class="row form-group">
                <div class="col-lg-12 text-center">
                    <img class="img-responsive img-circle" src="http://graph.facebook.com/178538882565519/picture?type=large" alt="" style="margin: auto;">
                    <div class="intro-text">
                        <div class="name" style="font-size: 4.75em;font-weight: 700;color: #fec503">Lịnh Đoàn</div>
                        <div class="skills" style="font-size: 1.75em;font-weight: 300;color: #fec503">Web Developer - Graphic Artist - User Experience Designer</div>
                        <hr class="star-light">
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-paint-brush fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Process</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-rocket fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Launch</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>